/* .logo span {
  color: #facc15;
}
.logo {
  max-width: 200px;
  min-width: 200px;
}
.logo h1 {
  color: white;
  animation-name: logo;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes logo {
  0% {
    letter-spacing: 1px;
  }
  100% {
    letter-spacing: 20px;
  }
  
} */
.nav-logo {
  width: 130px;
  height: 130px;
}
#darkmode {
  display: flex;
  justify-content: right;
  margin-top: 5px;
}
.n-right{
  display: flex;
  justify-content: right;
}

#darkmode .dark {
  background-color: #292c35;
  box-shadow: rgb(22, 22, 21) 0px 30px 60px -12px,
    rgb(43, 40, 36) 0px 18px 36px -18px;
}
#darkmode .checkbox {
  opacity: 0;
  position: absolute;
}

#darkmode .label {
  width: 2.7rem;
  height: 1rem;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  cursor: pointer;
}

#darkmode .ball {
  width: 1.1rem;
  height: 1.1rem;
  background-color: white;
  position: absolute;
  top: -1px;
  left: 0px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

#darkmode .checkbox:checked + .label .ball {
  transform: translateX(25px);
}
.zzz li {
  font-size: 14px;
  font-weight: 900;
  gap: 0rem !important;
}


.resume {
  font-size: 15px;
}

@media (max-width: 890px) {
  .nav-logo {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 760px) {
  ul li {
    font-size: 20px;
    font-weight: 900;
    gap: 1rem;
  }
  .logo h1 {
    font-size: 30px;
  }
  .resume {
    font-size: 20px;
  }
  .nav-logo {
    width: 150px;
    height: 150px;
  }
}
